body {
    font-family: "Open Sans", Helvetica, sans-serif; 
    font-size: 11px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.muted {
    text-decoration: none;
    color: gray;
}
